.page {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;
}

.titleImg {
  height: 150px;
}

.title {
  text-transform: uppercase;
  font-size: 15px;
}

.menu {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.menuItem {
  text-decoration: none;

  font-size: 22px;

  transition: 500ms;
}

.menuItem:hover {
  color: pink;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 8px;
}

.icons {
  display: flex;

  gap: 8px;
}

.copyright {
  display: flex;
  align-items: center;

  gap: 8px;

  font-size: 14px;
}
