.menu {
  width: 100%;
}

.menuItems {
  display: flex;
  justify-content: space-between;
}

.menuItem {
  text-decoration: none;
  color: black;

  font-size: 22px;

  transition: 500ms;
}

.menuItem:hover {
  color: pink;
}

.work {
  font-size: 22px;
  cursor: pointer;
  
  transition: 500ms;
}

.work:hover {
  color: pink;
}

.work:hover .worksMenu {
  display: inline-block;
  flex-direction: column;

  position: absolute;

  gap: 16px;
}

.worksMenu {
  display: none;
}
