.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 8px;
}

.icons {
  display: flex;

  gap: 8px;
}

.icon {
  color: black;
}

.iconEmail {
  color: rgb(252, 110, 200);
}

.copyright {
  display: flex;
  align-items: center;

  gap: 8px;

  font-size: 14px;
}
